<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Stories on <%= @interest.topic %> </h1>
    
      <!-- my code goes in here to send out the content of the APP -->

    <p>Good day.</p>
  </body>
</html>

